.slogan-section,
.contact-section,
.owner-section,
.events-section,
.references-section,
.instagram-section {
	display: flex;
	flex-direction: column;
}

.contact-section p,
.slogan-section p,
.owner-section p,
.references-section p {
	line-height: 1.6em;
}

.contact {
	background-color: #37424a;
	color: white;
	padding: 40px;
}

.contact-form {
	width: 95%;
	color: white;
	margin: 20px 0 30px 0;
}

.contact input[type='text'],
.contact input[type='email'],
.contact textarea {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border-radius: 0;
	border: none;
	font-family: inherit;
	font-size: 0.9em;
	background-color: #f8f8f8;
}

.contact input[type='submit'] {
	background-color: #80cc28;
	color: white;
	border: none;
	padding: 12px 20px;
	margin: 8px 0;
	border-radius: 0;
	width: 160px;
	font-family: inherit;
	font-size: 0.9em;
}

.contact input[type='submit']:hover {
	background-color: #f8f8f8;
	cursor: pointer;
	color: black;
}

.contact input[type='submit']:active {
	background-color: #f8f8f8;
	cursor: pointer;
	color: #80cc28;
}

.contact input[type='text']:focus,
.contact input[type='email']:focus,
.contact textarea:focus {
	background-color: #ffffff;
}
.agreement-text {
	font-size: 0.8em;
}
@media (min-width: 600px) {
	body {
		background-color: #37424a;
	}

	.footer a,
	.footer p,
	.footer h3 {
		color: white;
	}

	.contact {
		color: white;
		background-color: #37424a;
	}

	.slogan {
		width: 100%;
	}

	.contact,
	.references {
		width: 100%;
	}

	.contact-section {
		display: block;
	}

	.contact-section p {
		padding-top: 20px;
		/* text-align: justify; */
	}
	.contact-form {
		float: left;
		width: 50%;
		margin-right: 20px;
	}

	.footer ul a:active {
		color: #f8f8f8;
	}

	.footer ul a:hover {
		color: #80cc28;
	}
}
