.privacy-section {
	display: flex;
	flex-direction: column;
}

.privacy-section p {
	line-height: 1.3em;
	font-size: 0.8em;
	margin-top: 20px;
}

.privacy {
	background-color: #37424a;
	color: white;
	padding: 40px;
}

@media (min-width: 48em) {
	.privacy {
		background-color: transparent;
		color: black;
	}

	.privacy {
		width: 100%;
	}

	.privacy-section {
		display: block;
	}
}
